.mainCard{
    background-color: #056879;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 3px #010101;
}
.mainCardContent{
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.amount{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.amountItem{
    background-color: #056879;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    margin: 10px;
}

.mainButtons{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.insideButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.insideButtons button{
    border: none;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
}
button:hover{
    cursor: pointer;
}
.validateButton{
    padding: 10px;
    margin: 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #056879;
}